<td title="Show info">{{id}}</td>
<td>{{desc}}</td>
<td>{{type}}</td>
<td>{{host}}</td>
<td>{{port}}</td>
<td>{{url}}</td>
<td>{{timestamp}}</td>
<td>{{since}}</td>

{{#ifEquals status 'up'}}
    <td title="Up"><img class="status-up"></td>
{{/ifEquals}}

{{#ifEquals status 'down'}}
    <td title="Down"><img class="status-down"></td>
{{/ifEquals}}

{{#ifEquals status 'undetermined'}}
    <td title="Undetermined"><img class="status-undetermined"></td>
{{/ifEquals}}

{{#ifEquals status 'unreachable'}}
    <td title="Unreachable"><img class="status-unreachable"></td>
{{/ifEquals}}

<td>
    {{#ifEquals active true}}
        <div title="Deactivate endpoint">
            <img class="action-deactivate-endpoint">
        </div>
    {{/ifEquals}}
    {{#ifEquals active false}}
        <div title="Activate endpoint">
            <img class="action-activate-endpoint">
        </div>
    {{/ifEquals}}
    {{#ifEquals notify true}}
        <div title="Disable notification">
            <img class="action-disable-notification">
        </div>
    {{/ifEquals}}
    {{#ifEquals notify false}}
        <div title="Enable notification">
            <img class="action-enable-notification">
        </div>
    {{/ifEquals}}
    <div title="Delete endpoint">
        <img class="action-delete">
    </div>
    <div title="History">
        <img class="action-history">
    </div>
</td>